.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container{
    width: 100%;
    background-color: #333;
}

.frontcard{
    height: 260px;
    width: 200px;
    border: solid #111 1px; 
    border-radius: 12px;
    background-color: #777;
    margin: 20px;
    padding: 5px;
}

.headcard{
    display: flex;
    align-items: center;
    gap: 5px;
}

.pokemoncard{
    display: flex;
    justify-content: center;
    width: 100%;
}

#content{
    display: flex;
    flex-wrap: wrap;
}

.typecard{
    display: flex;
    justify-content: space-evenly;
}

.main-type,
.secondary-type{
    font-family: 'Alatsi-Regular';
    padding: 5px;
    width: 70px;
    text-align: center;
    border: #111 solid 1px;
    border-radius: 3px;
}

.loading-btn{
    font-family: 'Alatsi-Regular';
    border-radius: 5px;
    height: 50px;
    width: 160px;
}

.button-position{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}