.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container{
    width: 100%;
    background-color: #bc2c2c;
}

#search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 10px;
}

.header-btn{
    font-family: 'Alatsi-Regular';
    border-radius: 5px;
}

.frontcard{
    height: 260px;
    width: 200px;
    border: solid #111 1px; 
    border-radius: 12px;
    background-color: #777;
    margin: 20px;
    padding: 5px;
}

.headcard{
    display: flex;
    align-items: center;
    gap: 5px;
}

.pokemoncard{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

#content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.typecard{
    display: flex;
    justify-content: space-evenly;
}

.typecard-dialog{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-type,
.secondary-type{
    font-family: 'Orbitron-Medium';
    padding: 5px;
    width: 70px;
    text-align: center;
    border: #111 solid 1px;
    border-radius: 3px;
}

.loading-btn{
    font-family: 'Alatsi-Regular';
    border-radius: 5px;
    height: 50px;
    width: 160px;
}

.button-position{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#dialogcard{
    height: 700px;
    width: 800px;
    background-color: #777;
}

#dialog-container{
    scrollbar-width: thin;
    padding: 0;
}

#dialog-container::backdrop {
  opacity: 0;
  background-color: #c1c1c1c1;
  transition: all 0.25s ease-in;
}

#dialog-container.opened::backdrop {
  opacity: 0.85;
  background-color: #c1c1c1c1;
  transition: all 0.25s ease-in;
}

.cry-section{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.cry{
    width: 35px;
}

.speaker{
    height: 20px;
    width: 20px;
}

.flex{
    display: flex;
    gap: 10px;
}

.d-none{
    display: none;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-spinner{
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite; 
}

.spinner {
    color: #fff;
    font-family: 'Alatsi-Regular';
}

@keyframes spin {
    from {
        transform: rotate(0deg);
            }

    to {
        transform: rotate(360deg);
            }
}

.dialog-img{
    background-image: url(assets/icons/ginlimone-monster-ball-8084507_640.png);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 280px;
    height: 280px;
    width: 280px;
}

.flex-head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#general-info{
    background-color: lightgray;
    padding: 20px;
}

.firstLetterUppercase{
    text-transform: capitalize;
}

.suggestion-item{
    background-color: #7b1b1b;
    color: #fff;
    cursor: pointer;
}

.suggestion-txt{
    margin: 0;
    text-transform: capitalize;
    text-align: center;
}

.error-message{
    height: 20px;
    background-color: #777;
    color: #bc2c2c;
}