@font-face {
    font-family: 'Orbitron-Medium';
    src: url(../assets/fonts/Orbitron-Medium.ttf);
}

@font-face {
    font-family: 'Orbitron-SemiBold';
    src: url(../assets/fonts/Orbitron-SemiBold.ttf);
}

@font-face {
    font-family: 'Alatsi-Regular';
    src: url(../assets/fonts/Alatsi-Regular.ttf);
}