body,
html{
    margin: 0;
    scroll-behavior: smooth;
    background: linear-gradient(169deg, #78e4f2 0%, #cfa4f9 100%);
	font-size: 64.5%;
}

button{
	border-width: 0;
	cursor: pointer;
	font-family: 'Orbitron-Regular';
	font-size: 1.6rem;
}

h1{
	font-family: 'Alatsi-Regular';
	font-size: 4.0rem;
}

h2{
	font-family: 'Alatsi-Regular';
	font-size: 3.2rem;
}

h3{
	font-family: 'Alatsi-Regular';
	font-size: 2.4rem;
	text-transform: capitalize;
}

p{
	font-family: 'Alatsi-Regular';
	font-size: 1.6rem;
}

a{
	text-decoration: none;
	cursor: pointer;
	font-size: 2.0rem;
	font-family: 'Alatsi-Regular';
	color: black;
}

a:hover{
	text-decoration: underline;
}

footer{
	height: 100px;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	bottom: 0;
	right: 0;
	left: 0;
}